<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Form:</h1>
	<form action="/create" method="post">
		Name: <input type="text" name="name" id="name">
		Age: <input type="number" name="age" id="age">
		<button type="submit">Submit</button>
	</form>
</body>
</html>